@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


:root {
    --color: #e3c1c1;
    --color1: #f9f3f1;
    --color2: #FFD0BB;
    --color3: #e9b9a5;
    --color4: #b06f55;
    --color5: #9d5d43;
    --color6: #894b31;
    --color7: #633018;

    --secundario: #B852B7;
    --secundario-light: #da76d8;
    --secundario1: #E88780;

    --bg: #FBFBFB;

    --border-radius: 10px;

    --font-color-dark: var(--color7);
    --font-color-light: var(--color1);

    --header-bg: var(--color4);

    --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-family: 'Montserrat', sans-serif;
    
}

body {
    margin: 0;
    background: var(--bg);
    font-family: 'Montserrat', sans-serif;
}

svg {
    fill: var(--font-color-light);
}

*{
    /*Quitar bordes, que ocupe toda la pantalla*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

::selection {
    background-color: var(--font-color-dark);
    color: var(--font-color-light);
}

a{
    color: black;
    text-decoration: none;
    transition: letter-spacing .25s;
}

.focus{
    transition: box-shadow .25s;
}

.focus:focus{
    box-shadow: 0 0 0 5px var(--color7);
}

.mensaje {
    position: absolute;
    top: 0;
    left: 0;

    background-color: hsl(0, 72%, 52%);
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    margin: 10px;

    color: var(--color1);
    font-weight: 600;

    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    animation-name: fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;

}

@keyframes fade-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%)
    }
}

.mensaje svg {
    width: 25px;
    height: 25px;
}